#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/mouse.h>

#define BASELAYER 0
#define GAMETHUMB 1
#define FUNCTIONS 2

/ {
	behaviors {
		ltr: layer_tap_repeat {
			compatible = "zmk,behavior-hold-tap";
			label = "LAYER_TAP_REPEAT";
			#binding-cells = <2>;
			flavor = "tap-preferred";
			tapping-term-ms = <150>;
			quick-tap-ms = <400>;
			bindings = <&mo>, <&kp>, <&mkp>;
		};
	};

    keymap {
        compatible = "zmk,keymap";

        baselayer_layer {
		bindings = <
	&kp BSLH &kp N1 &kp N2 &kp N3 &kp N4 &kp N5                    &kp N6 &kp N7 &kp N8 &kp N9 &kp N0 &kp GRAVE
	&kp TAB	&kp Q &kp W &kp F &kp P &kp B                          &kp J &kp L &kp U &kp Y &kp MINUS &kp EQUAL
	&kp ESC &kp A &kp R &kp S &kp T &kp G                          &kp M &kp N &kp E &kp I &kp O &kp SQT
	&kp PG_UP &kp Z &kp X &kp C &kp D &kp V                         &kp K &kp H &kp COMMA &kp DOT &kp FSLH &kp SEMI
	&kp PG_DN &kp HOME &kp END &kp LEFT &kp RIGHT &kp CAPS &kp INS &kp UP &kp DOWN &kp LBKT &kp RBKT &mkp MB2
	             &tog GAMETHUMB &kp PSCRN &kp BSPC &kp LALT &kp LALT &kp SPACE &mkp MB1 &mkp MB3
		         &kp LCTRL &kp LSHFT &ltr FUNCTIONS DEL &kp LGUI &kp LGUI &kp ENTER &kp LSHFT &kp LCTRL
		>;
	};

	gamethumb_layer {
		bindings = <
	&trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
	&trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
	&trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
	&trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
	&trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
	             &trans &trans &trans &trans &kp RALT &trans &trans &trans
				 &trans &trans &kp DEL &trans &kp RGUI &trans &kp RSHFT &kp RCTRL
		>;
	};

	functions_layer {
		bindings = <
	&kp C_PAUSE &kp C_PREV &kp C_RW &kp C_FF &kp C_NEXT &kp C_PLAY &trans &trans &trans &trans &trans &trans
	&kp C_BRI_UP &kp F12 &kp F7 &kp F8 &kp F9 &kp C_VOL_UP &trans &trans &trans &trans &trans &trans
	&kp C_BRI_DN &kp F11 &kp F4 &kp F5 &kp F6 &kp C_VOL_DN &trans &trans &trans &trans &trans &trans
	&bt BT_CLR &kp F10 &kp F1 &kp F2 &kp F3 &kp C_MUTE &trans &trans &trans &trans &trans &trans
	&bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &trans &trans &trans &trans &trans &trans &trans
	             &trans &trans &trans &trans &trans &trans &trans &trans
				 &trans &trans &trans &trans &trans &trans &trans &trans
		>;
	};
	};
};
